name: Backend build

on:
  push:
    branches: [ main ]
    paths:
      - be/**
      - .github/workflows/gradle.yml
  pull_request:
    branches: [ main ]
    paths:
      - be/**
      - .github/workflows/gradle.yml

permissions:
  contents: read

defaults:
  run:
    working-directory: ./be

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-java-gradle
      - run: ./gradlew assemble
      - uses: actions/upload-artifact@v4
        with:
          name: build-classes
          path: be/**/build/classes

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-java-gradle
      - uses: actions/download-artifact@v4
        with:
          name: build-classes
      - run: ./gradlew test jacocoAggregatedReport
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: be/build/reports/jacocoAggregatedReport.xml

  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-java-gradle
      - uses: actions/download-artifact@v4
        with:
          name: build-classes
      - run: ./gradlew checkstyleMain checkstyleTest pmdMain pmdTest

  sonar:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-java-gradle
      - uses: actions/download-artifact@v4
        with:
          name: build-classes
      - uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: be/build/reports/
      - run: ./gradlew sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: SonarQube Quality Gate check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          scanMetadataReportFile: ./be/build/sonar/report-task.txt
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Dependency check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          JAVA_HOME: /opt/jdk
        id: Depcheck
        with:
          project: 'inventory-backend'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: >
            --failOnCVSS 10
            --enableRetired
            --exclude **/package.json
            --exclude **/package-lock.json
            --exclude **/yarn.lock
      - name: Upload Test results
        uses: actions/upload-artifact@v4
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports
