name: frontend build

on:
  push:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml

defaults:
  run:
    working-directory: ./fe/inventory-frontend

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/cache@v4
        with:
          path: |
            fe/inventory-frontend/.yarn/cache
            fe/inventory-frontend/.yarn/install-state.gz
            fe/inventory-frontend/node_modules
          key: yarn-${{ runner.os }}-${{ hashFiles('fe/inventory-frontend/yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
      - run: yarn install --immutable

  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/cache@v4
        with:
          path: |
            fe/inventory-frontend/.yarn/cache
            fe/inventory-frontend/.yarn/install-state.gz
            fe/inventory-frontend/node_modules
          key: yarn-${{ runner.os }}-${{ hashFiles('fe/inventory-frontend/yarn.lock') }}
      - run: yarn build

  lint:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/cache@v4
        with:
          path: |
            fe/inventory-frontend/.yarn/cache
            fe/inventory-frontend/.yarn/install-state.gz
            fe/inventory-frontend/node_modules
          key: yarn-${{ runner.os }}-${{ hashFiles('fe/inventory-frontend/yarn.lock') }}
      - run: yarn lint

  test:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/cache@v4
        with:
          path: |
            fe/inventory-frontend/.yarn/cache
            fe/inventory-frontend/.yarn/install-state.gz
            fe/inventory-frontend/node_modules
          key: yarn-${{ runner.os }}-${{ hashFiles('fe/inventory-frontend/yarn.lock') }}
      - run: yarn test:coverage
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          projectBaseDir: ./fe/inventory-frontend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
