name: frontend build

on:
  push:
    branches: [ "main" ]
    paths:
      - fe/**
  pull_request:
    branches: [ "main" ]
    paths:
      - fe/**

defaults:
  run:
    working-directory: ./fe/inventory-frontend

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: './fe/inventory-frontend/.nvmrc'
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn test
