name: frontend build

on:
  push:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml

defaults:
  run:
    working-directory: ./fe/inventory-frontend

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: './fe/inventory-frontend/.nvmrc'
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn test:coverage
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          projectBaseDir: ./fe/inventory-frontend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
