name: frontend build

on:
  push:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - fe/**
      - .github/workflows/yarn.yml

defaults:
  run:
    working-directory: ./fe/inventory-frontend

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - run: yarn install
      - uses: actions/upload-artifact@v4
        with:
          name: yarn-install
          path: |
            fe/inventory-frontend/node_modules
            fe/inventory-frontend/.yarn/cache
            fe/inventory-frontend/.yarn/install-state.gz
            fe/inventory-frontend/.pnp.*

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/download-artifact@v4
        with:
          name: yarn-install
          path: fe/inventory-frontend
      - run: yarn build

  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/download-artifact@v4
        with:
          name: yarn-install
          path: fe/inventory-frontend
      - run: yarn lint

  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node-yarn
      - uses: actions/download-artifact@v4
        with:
          name: yarn-install
          path: fe/inventory-frontend
      - run: yarn test:coverage
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          projectBaseDir: ./fe/inventory-frontend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
